* {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
}

.center-200 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

div {
    background-color: #DDDDDD;
    padding: 20px;
    margin: 30px auto;
    width: 600px;
    font: 30px bold;


}

.top {
    position: relative;
}

.top::after {
    content: "";
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid;
    border-color: transparent transparent #ddd transparent;
    position: absolute;

}

.right {
    position: relative;
}

.right::after {
    content: "";
    top: 50%;
    right: -60px;
    transform: translate(-50%, -50%);
    border: 20px solid;
    border-color: transparent transparent transparent #ddd;
    position: absolute;

}


.bottom {
    position: relative;
}

.bottom::after {
    content: "";
    left: 50%;
    bottom: -60px;
    transform: translate(-50%, -50%);
    border: 20px solid;
    border-color: #ddd transparent transparent transparent;
    position: absolute;

}

.left {
    position: relative;
}

.left::after {
    content: "";
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    border: 20px solid;
    border-color: transparent #ddd transparent transparent;
    position: absolute;

}